<% params[:tab] ||= 'general' %>

<div class="content round">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Edit <%= "#{resource_name.to_s.humanize}: #{current_user.name}" %></h3>

      <div class="accordion" id="accordion2">

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              General Details<i class="icon-chevron-up pull-right"></i>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse <%= is_active_accordion('general', params[:tab]) %>">
            <div class="accordion-inner">
              <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <%= f.input :name, :wrapper => :prepend do %>
                  <span class="add-on"><i class="icon-user"></i></span><%= f.input_field :name, :required => true, :autofocus => true, :size => '' %>
                  <% end %>
                  <%= f.input :email, :wrapper => :prepend do %>
                    <span class="add-on"><i class="icon-envelope"></i></span><%= f.email_field :email, :required => true, :size => '' %>
                  <% end %>
                  <%= f.input :phone, :wrapper => :prepend do %>
                    <span class="add-on"><i class="icon-bell"></i></span><%= f.input_field :phone, :required => false, :size => '', :placeholder => 'mobile or landline' %>
                  <% end %>
                  <%= f.input :theme, :wrapper => :prepend do %>
                    <span class="add-on"><i class="icon-wrench"></i></span><%= f.input_field :theme, :include_blank => false %> 
                  <% end %>   
                  <%= f.input :current_password, :wrapper => :prepend do %>
                    <span class="add-on"><i class="icon-eye-close"></i></span><%= f.input_field :current_password, :hint => "we need your current password to confirm your changes", :required => true, :size => '', :id => 'general password' %>
                  <% end %>                           
                  <div class="form-actions">
                    <%= f.button :submit, "Update General", :class => 'btn btn-primary' %>
                  </div>  
                </div>   
              <% end %>
              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Profile Image<i class="icon-chevron-down pull-right"></i>
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse <%= is_active_accordion('gravatar', params[:tab]) %>">
            <div class="accordion-inner">
              <div><%= image_tag avatar_url(resource, 120), size: "120x120", :class => 'img-rounded gravatar' %></div>
              <br/>
              <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
                <%= f.error_notification %>
                <input type='hidden' name='tab' value='gravatar' />
                <div class="form-inputs">
                  <%= f.input :is_private, label: 'Use Upload Image', :wrapper => :prepend do %>
                    <div class="make-switch switch-small" data-on="success" data-off="danger" data-on-label="Yes" data-off-label="No"><%= f.check_box :is_image %></div>
                  <% end %>               
                  <%= f.input :image, :label => "Upload Image:", :wrapper => :prepend  do %>
                    <%= f.input_field :image %>
                    <%= f.label :remote_image_url, "or image URL" %>
                  <% end %>
                  <%= f.input :remote_image_url, :wrapper => :prepend do %>
                    <span class="add-on"><i class="icon-pencil"></i></span><%= f.input_field :remote_image_url %>     
                  <% end %>
                  <%= f.input :current_password, :wrapper => :prepend do %>
                    <span class="add-on"><i class="icon-eye-close"></i></span><%= f.input_field :current_password, :hint => "we need your current password to confirm your changes", :required => true, :size => '', :id => 'gravatar password' %>
                  <% end %>                  
                </div>
                <div class="form-actions">
                  <%= f.button :submit, "Update Image", :class => 'btn btn-primary' %>
                </div>  
              <% end %>              
              <div><%= link_to_blank 'Change Gravatar', 'http://www.gravatar.com/emails', :class => 'btn btn-primary' %></div>
              <br/>
              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>            

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              Locations<i class="icon-chevron-down pull-right"></i>
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse <%= is_active_accordion('locations', params[:tab]) %>">
            <div class="accordion-inner">
            <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
              <%= f.error_notification %>
                <input type='hidden' name='tab' value='locations' />             
                  <div class="form-inputs">                  
                  <%= render 'users/form' %>
                  <%= f.input :current_password, :wrapper => :prepend do %>
                    <span class="add-on"><i class="icon-eye-close"></i></span><%= f.input_field :current_password, :hint => "we need your current password to confirm your changes", :required => true, :size => '', :id => 'location password' %>
                  <% end %>               
                  <div class="form-actions">
                    <%= f.button :submit, "Update Locations", :class => 'btn btn-primary' %>
                  </div>  
                </div>                        
              <% end %>
              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>             

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              Password<i class="icon-chevron-down pull-right"></i>
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse <%= is_active_accordion('password', params[:tab]) %>">
            <div class="accordion-inner">
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
              <% end %>
              <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
                <%= f.error_notification %>
                <input type='hidden' name='tab' value='password' />
                <div class="form-inputs">
                  <%= f.input :password, :wrapper => :prepend do %>
                    <span class="add-on"><i class="icon-eye-close"></i></span><%= f.input_field :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false, :size => '' %>
                  <% end %>
                  <%= f.input :password_confirmation, :wrapper => :prepend do %>
                    <span class="add-on"><i class="icon-eye-close"></i></span><%= f.input_field :password_confirmation, :required => true, :size => '' %>
                  <% end %>
                  <%= f.input :current_password, :wrapper => :prepend do %>
                    <span class="add-on"><i class="icon-eye-close"></i></span><%= f.input_field :current_password, :hint => "we need your current password to confirm your changes", :required => true, :size => '', :id => 'current password' %>
                  <% end %>
                  <div class="form-actions">
                    <%= f.button :submit, "Change password", :class => 'btn btn-primary' %>
                  </div>
                </div>   
              <% end %>
              <%= link_to "Back", :back %>
            </div>
          </div>
        </div> 

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
              Cancel my Account<i class="icon-chevron-down pull-right"></i>
            </a>
          </div>
          <div id="collapseFive" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
              <%= link_to "Back", :back %>
            </div>
          </div>
        </div> 

      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
    $('.accordion').on('show hide', function (n) {
        $(n.target).siblings('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-chevron-up icon-chevron-down');
    });
</script>
