<p>From: <%= @email_message.name.strip %></p>

<p>Email: <%= @email_message.email.strip %></p>

<p>Message: <%= simple_format(@email_message.content.strip) %></p>

<p><%= link_to ENV["SITE_NAME"], root_url %></p>

<p><%= image_tag attachments['email_footer.jpg'].url %></p>