<%= render '_templates/email/email_header' %>

    <h4 class="h4">Contact Us Message</h4>

    <p>From: <%= @email_message.name.strip %></p>

    <p>Email: <%= @email_message.email.strip %></p>

    <p>Message: <%= simple_format(@email_message.content.strip) %></p>

    <p><%= link_to ENV["SITE_NAME"], root_url %></p>

<%= render '_templates/email/email_footer' %>