<fieldset>

  <%= f.input :name, :wrapper => :prepend do %>
    <span class="add-on"><i class="icon-wrench"></i></span><%= f.text_field :name, :size => '' %> 
  <% end %>

  <%= f.input :address, :wrapper => :prepend do %>
    <span class="add-on"><i class="icon-wrench"></i></span><%= f.text_field :address, :size => '' %> 
  <% end %>

  <%= f.input "Show Google Map", :wrapper => :prepend do %>
    <%= f.check_box :is_map %> 
  <% end %>

  <%= f.hidden_field :_destroy %>
  <i class="icon-minus-sign"></i> <%= link_to "Remove location", '#', class: "remove_fields" %>
  
</fieldset>