<div class="content round">
  <div class="row-fluid">
    <div class="span12">
      
      <%= render 'layouts/messages' %>

      <h3>Users</h3>

      <%= simple_form_for(:users, :url => users_path, :method => :get, :html => {:class => 'form-horizontal'}) do |f| %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="form-inputs">
          <%= f.input :search, :wrapper => :prepend do %>
            <span class="add-on"><i class="icon-search"></i></span><%= text_field_tag :search, params[:search],  :placeholder => 'by username or email' %>
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Search", :name => nil, :class => 'btn btn-primary' %>
        </div>
        <% if current_user.has_role? :admin and params[:search] %>
          <div class='middle'> 
            <b><%= link_to 'Generate CSV Report', users_path+'.csv?report=csv&direction='+params[:direction]+'&sort='+params[:sort]+'&search='+params[:search] %></b>
          </div> 
        <% end %>
      <% end %>
      
      <% if @users.any? %>
        <section id="no-more-tables"> 
          <table class="table table-striped table-bordered table-condensed up-down-arrow">
            <thead>
              <tr>
                <th ></th>
                <th><%= sortable "name", "Username" %></th>
                <th><%= sortable "email" %></th>
                <th><%= sortable "created_at", "Registered" %></th>
                <th>Roles</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody id="users_results">
              <%= render :partial => "user", :collection => @users %>
            </tbody>
          </table>  
        </section>
      <% end %> 

      <%= will_paginate @users %>

    </div>
  </div>
</div>

<script>
$("#hint a").tooltip()
</script>
