<div class="content round">
  <div class="row">
    <div class="span12">
      
      <%= render 'layouts/messages' %>
      <h3>Users</h3>

      <%= simple_form_for(:users, :url => users_path, :method => :get) do |f| %>
        <div class="form-inputs"> Search by Username or Email
          <%= text_field_tag :search, params[:search] %>
        </div> 
        <div class="form-actions">
          <%= f.button :submit, "Search", :name => nil, :class => 'btn btn-primary' %>
        </div>   
      <% end %>
      
      <%= pagination_links(@users) %>
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            <th></th>
            <th>Username</th>
            <th>Email</th>
            <th>Registered</th>
            <th>Roles</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><div class="middle"><%= image_tag avatar_url(user), :class => 'round' %></div></td>
            <td id="hint"><%= link_to user.name, user, :title => [user.name, user.email].join(" - "), :'data-placement' => 'right' %></td>
            <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
            <td><%= user.created_at.to_date %></td>
            <td><% user.roles.each do |role| %><%= role.name.titleize %> <% end %></td>
            <td>
              <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini btn-primary" type="button">Change roles</a>
              <%= render user %>
            </td>
            <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini btn-primary') unless user == current_user %></td>
          </tr>
        <% end %>
        </tbody>
      </table>





    </div>
  </div>
</div>

<script>
$("#hint a").tooltip()
</script>








