<div class="content round">
  <div class="row-fluid">

    <%= render 'layouts/messages' %>

    <div class="span6">

      <h3>User</h3>
      <p><%= image_tag avatar_url(@user, 100), :class => 'round' %></p>
      <p>User: <%= @user.name %></p>
      <p>Email: <%= @user.email %></p>
      <% if @user.phone? %><p>Phone: <%= @user.phone %></p><% end %>
      <% if current_user.email == @user.email %>
        <%= link_to 'Edit', edit_user_registration_path %>
      <% else %>
        <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
       |
      <%= link_to 'Back', users_path %> 
    </div>

    <div class="span6">
      <p>
        <% if @user.locations.any? %>
        <b>Addresses:</b><br />
          <% @user.locations.each do |location| %>
            <%= location.name %><% if location.name %>: <% end %><%= location.address %><br />
            <% unless !location.is_map? || location.latitude.blank? || location.longitude.blank? %>
              <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{location.latitude}%2C#{location.longitude}" %><br /><br/>
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>

  </div>
</div>
