<%= simple_form_for(@video, :html => { :class => 'form-horizontal' }) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :wrapper => :prepend do %>
     <span class="add-on"><i class="icon-pencil"></i></span><%= f.input_field :name, :required => true, :size => '' %>
    <% end %>
    <%= f.input :code, :wrapper => :prepend do %>
     <span class="add-on"><i class="icon-pencil"></i></span><%= f.input_field :code, :required => true, :size => '' %>
    <% end %>
    <%= f.input :description, :wrapper => :prepend do %>
     <span class="add-on"><i class="icon-pencil"></i></span><%= f.input_field :description, :required => true, :size => '' %>
    <% end %>    
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
