<div class="content round">
  <div class="row-fluid">
    <div class="span12">
      
      <%= render 'layouts/messages' %>

      <h3>Videos</h3>

      <%= simple_form_for(:videos, :url => videos_path, :method => :get, :html => {:class => 'form-horizontal'}) do |f| %>
        <div class="form-inputs">
          <%= f.input :search, :wrapper => :prepend do %>
            <span class="add-on"><i class="icon-search"></i></span><%= text_field_tag :search, params[:search],  :placeholder => 'by name, code or desc' %>
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Search", :name => nil, :class => 'btn btn-primary' %>
        </div>   
      <% end %>
      
      <% if @videos.any? %>
        <section id="no-more-tables"> 
          <table class="table table-striped table-bordered table-condensed up-down-arrow">
            <thead>
              <tr>
                <th><%= sortable "name" %></th>
                <th><%= sortable "code" %></th>
                <th>Mobile</th>
                <th>Tablet</th>
                <th>Desktop</th>
                <th></th>
                <th></th>
                <th><%= sortable "user_id", "User" %></th>
              </tr>
            </thead>
            <tbody id="video_results">
              <%= render :partial => "video", :collection => @videos %>
            </tbody>
          </table>  
        </section>
      <% end %> 

      <%= will_paginate @videos %>

      <br />

      <%= link_to 'Create Video', new_video_path, :class => 'btn btn-primary btn-mini' %>      

    </div>
  </div>
</div>

<script>
  $("#video_hint a").tooltip()
</script>
