<% if current_page?(:controller => 'documents', :action => 'edit') %>
  <% if (@document.document_types.first.name == 'Text' or @document.document_types.last.name == 'Text') && @document.document_types.size == 1 %>
    <% params[:tab] ||= 'body01' %>
  <% else %>
    <% params[:tab] ||= 'body02' %>
  <% end %>
<% else %>
  <% params[:tab] ||= 'body02' %>
<% end %>
<ul class="nav nav-tabs">
  <li class="<%= is_active_tab('body02', params[:tab]) %>"><a href="#body02" data-toggle="tab">Default</a></li>
  <li class="<%= is_active_tab('body01', params[:tab]) %>"><a href="#body01" data-toggle="tab">TinyMCE</a></li>
</ul>
<div id="tabbed_profile" class="tab-content">
  <div id="body01" class="tab-pane fade in <%= is_active_tab('body01', params[:tab]) %>">
    <%= render 'form_default' %>
  </div>
  <div id="body02" class="tab-pane fade in <%= is_active_tab('body02', params[:tab]) %>">
    <%= render 'form_tinymce' %>
  </div>
</div>
