<%= simple_form_for(@document, :html => { :class => 'form-horizontal' }) do |f| %>

  <%= f.error_notification %>

  <% if @document.is_private? and @document.user_id == current_user.id or !@document.is_private? %>

    <div class="form-inputs">
      <%= f.input :title, :wrapper => :prepend do %>
       <span class="add-on"><i class="icon-pencil"></i></span><%= f.input_field :title, :required => true, :autofocus => true, :size => '' %>
      <% end %>   

      <div id="tinyMCE_id" style="padding-left: 109px;">tinyMCE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-primary btn-mini" type="button" value="Show" id="toggleButton"></div>

      <%= f.input :body, label: 'Content', :wrapper => :prepend do %>
        <div id="body1"><%= f.text_area :body, :rows => 10 %></div>
        <div id="body2"><%= f.text_area :body, :rows => 10, :class => 'tinymce' %><%= tinymce :alternate %></div>
      <% end %>

      <%= f.association :document_types, label: 'Document Types', collection: DocumentType.all(order: 'name') %>
      <% if @document.user_id == current_user.id or params[:action] == 'new' %>
        <%= f.input :is_private, label: 'Private', :wrapper => :prepend do %>
          <div class="make-switch switch-small" data-on="success" data-off="danger" data-on-label="Yes" data-off-label="No"><%= f.check_box :is_private %></div>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary' %>
    </div>

  <% end %>

<% end %>

<script>
$(function() {
  $('#body1').toggle('5000');
  $('#toggleButton').click( function(){
    $('#body1').toggle('50000', function(){
      if ($('#body1').is(':visible')) {
        $('#toggleButton').val('Hide');
        $("form").submit(function(){
          $('#body2').remove();
        }); 
        $('#body2').hide();
        return false;
      } else {
        $('#toggleButton').val('Show');
        $('#body2').show();
        return false;
      }
    });    
  });
});
</script>
