
<div class="content round">
  <div class="row">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Document</h3>    	

	<p>
	  <b>Title:</b>
	  <%= @document.title %>
	</p>

	<p>
	  <b>Doc type:</b>
	  <%= @document.doc_type %>
	</p>

	<p>
	  <b>User:</b>
	  <%= User.find_by_id(@document.user_id).name %>
	</p>

	<p>
	  <b>Created:</b>
      <%= @document.created_at.to_s(:human_short) %>
	</p>		

	<p>
	  <b>Content:</b>
	  <pre class="prettyprint linenums"><%= @document.body %></pre>
	</p>

	<br />

	<%= link_to 'Edit', edit_document_path(@document), :class => 'btn btn-primary btn-mini' %> |
	<%= link_to 'Back', documents_path, :class => 'btn btn-primary btn-mini'%>

    </div>
  </div>
</div>
