
<div class="content round">
  <div class="row">
    <div class="span12">

	<p>
	  <b>Title:</b>
	  <%= @document.title %>
	</p>

	<p>
	  <b>Doc type:</b>
	  <%= @document.doc_type %>
	</p>

	<p>
	  <b>Content:</b>
	  <pre class="prettyprint linenums"><%= @document.body %></pre>
	</p>

	<br />

	<%= link_to 'Edit', edit_document_path(@document), :class => 'btn btn-primary btn-mini' %> |
	<%= link_to 'Back', documents_path, :class => 'btn btn-primary btn-mini'%>

    </div>
  </div>
</div>
