<div class="content round">
  <div class="row">
    <div class="span12">

			<%= render 'layouts/messages' %>

			<h3>Document</h3>    	

			<p>
			  <b>Title:</b>
			  <%= @document.title %>
			</p>

			<p>
			  <b>Document Types:</b>
			  <% @document.document_types.each do |dt| %><%= dt.name %> <% end %>
			</p>

			<p>
			  <b>User:</b>
			  <%= User.find_by_id(@document.user_id).name %>
			</p>

			<% if @document.created_at == @document.updated_at %>
				<p>
				  <b>Created:</b>
			      <%= @document.created_at.to_s(:human_short_time) %>
				</p>
			<% else %>
				<p>
				  <b>Created:</b>
			      <%= @document.created_at.to_s(:human_short_time) %>
				</p>	
				<p>
				  <b>Updated:</b>
			      <%= @document.updated_at.to_s(:human_short_time) %>
				</p>
			<% end %>

			<p>
			  <b>Content:</b>
			  <% if @document.document_types.last.name == 'Text' %>
			  	<div class="text-doc round"><%= @document.body.html_safe %></div>
			  <% else %>
			  	<pre class="prettyprint linenums"><%= @document.body.html_safe %></pre>
			  <% end %>
			</p>

			<br />

			<%= link_to 'Edit', edit_document_path(@document), :class => 'btn btn-primary btn-mini' %> |
			<%= link_to 'Back', documents_path, :class => 'btn btn-primary btn-mini'%>

    </div>
  </div>
</div>
