<div class="content round">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/messages' %>
      <h3><%= t "devise.invitations.new.header" %></h3>

      <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :class => 'form-horizontal'} do |f| %>
      <%= f.error_notification %>

      <% resource.class.invite_key_fields.each do |field| -%>
        <div class="form-inputs">
          <%= f.input :name, :wrapper => :prepend do %>
           <span class="add-on"><i class="icon-user"></i></span><%= f.input_field :name, :required => true, :autofocus => true, :size => '', :placeholder => 'Name' %>
          <% end %>
          <%= f.input :email, :wrapper => :prepend do %>
            <span class="add-on"><i class="icon-envelope"></i></span><%= f.email_field :email, :required => true, :size => '', :placeholder => 'Email' %>
          <% end %>
        </div>
      <% end -%>

      <div class="form-actions">
        <%= f.submit t("devise.invitations.new.submit_button"), :class => 'btn btn-primary', :disable_with => "Sending an invitation..." %>
      </div>
      <% end %>

    </div>
  </div>
</div>
