<div class="content round">
  <div class="row-fluid">
    <div class="span12">

      <%= render 'layouts/messages' %>

      <h3>Picture Gallery</h3>

      <p>
        <b>Name:</b>
        <%= @gallery.name %>
      </p>    
      
      <p>
        <b>User:</b>
        <%= User.find_by_id(@gallery.user_id).name %>
      </p>

      <% if @gallery.created_at == @gallery.updated_at %>
        <p>
          <b>Created:</b>
            <%= @gallery.created_at.to_s(:human_short_time) %>
        </p>
      <% else %>
        <p>
          <b>Created:</b>
            <%= @gallery.created_at.to_s(:human_short_time) %>
        </p>    
        <p>
          <b>Updated:</b>
            <%= @gallery.updated_at.to_s(:human_short_time) %>
        </p>
      <% end %>        

      <p>
        <%= link_to "Refresh Images", @gallery %> |
        <%= link_to "Edit Gallery", edit_gallery_path %> | 
        <%= link_to "Remove Gallery", @gallery, :confirm => 'Are you sure?', :method => :delete %> |
        <%= link_to "View Galleries", galleries_path %>
      </p> 

      <p>
        <div>
          <% for picture in @gallery.pictures %>
            <% if RUBY_PLATFORM =~ /mingw/i %>
              <%= link_to picture.image_url(), :rel => :lazybox do %>
                <%= image_tag picture.image_url(), size: "15x15" if picture.image? %>
              <% end %>
            <% else %>
              <%= link_to picture.image_url(), :rel => :lazybox do %>
                <%= image_tag picture.image_url(:thumb), size: "15x15" if picture.image? %> 
              <% end %>
            <% end %>
          <% end %>
        </div>
      </p>          

      <div id="pictures">
        <% for picture in @gallery.pictures.order("name ASC") %>
          <div class="picture">
            <% if RUBY_PLATFORM =~ /mingw/i %>
              <%= link_to image_tag(picture.image_url, size: "150x150"), picture if picture.image? %>
            <% else %>  
              <%= link_to image_tag(picture.image_url(:thumb)), picture if picture.image? %>
            <% end %>
            <div class="name"><%= picture.name %></div>
            <div class="actions">
              <%= link_to "edit", edit_picture_path(picture) %> |
              <%= link_to "remove", picture, :confirm => 'Are you sure?', :method => :delete %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="clear"></div>

      <%= simple_form_for(Picture.new, :html => { :class => 'form-horizontal' }) do |f| %>
        <%= f.hidden_field :gallery_id, :value => @gallery.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.input :image, :label => "Upload Pictures:", :wrapper => :prepend  do %>
        <%= f.file_field :image, multiple: true, name: "picture[image]" %>
        <% end %>
      <% end %>

      <script id="template-upload" type="text/x-tmpl">
        <div class="upload">
          {%=o.name%}
          <div class="progress progress-success progress-striped active"><div class="bar" style="width: 0%"></div></div>
        </div>
      </script>       

    </div>
  </div>
</div>

<script>  
  $(document).ready(function() {
    $('a[rel*=lazybox]').lazybox({close: false, modal: false, opacity: 0.7, klass: 'lazybox', speed: 200});
  });  
</script>  