<nav>
  <ul class="nav" id="main-menu-left">
    <% if user_signed_in? %>
      <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
      </li>
    <% else %>
      <li <%= active_css(new_user_session_path) %>>
      <%= link_to 'Sign In', new_user_session_path %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li <%= active_css(edit_user_registration_path) %>>
      <%= link_to 'Edit Account', edit_user_registration_path %>
      </li>
      <% if current_user.has_role? :admin %>
      <li class="dropdown" id="preview-menu">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin</a>
      <ul class="dropdown-menu">
        <li><a href="<%= users_path %>"><i class="icon-search"></i> Users</a></li>
        <li class="divider"></li>
        <li><a href="/users/invitation/new"><i class="icon-envelope"></i> Send Invitation</a></li>
      </ul>    
    <% end %>
    <% else %>
      <li <%= active_css(new_user_registration_path) %>>
      <%= link_to 'Sign Up', new_user_registration_path %>
      </li>
    <% end %>
      <li <%= active_css(about_path) %>>
      <%= link_to 'About', about_path %>
      </li>    
  </ul>
</nav>
