<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(@page_title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : ENV["SITE_NAME"] %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag @css_theme, :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
  </head>

  <body class="<%= controller_name %> <%= action_name %> round" data-spy="scroll" data-target=".bs-docs-sidebar">
    <%= render 'layouts/navigation' %>
      <% if controller_name != 'home' %>
        <div class="container">
      <% end %>
        <%= yield %>
      <% if controller_name != 'home' %>
        </div>
      <% end %>
    <br />
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
